@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    padding: 2px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(37, 100, 235, 0.8);
    /* Adjust as needed */
    border-radius: 8px;
    border-top: 2px;
}

.dark::-webkit-scrollbar-thumb {
    background-color: rgba(63, 81, 215, 0.3);
    /* Adjust as needed */
    border-radius: 6px;
}

#alert {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-pulse {
    animation: mypulse 6s infinite;
}

@keyframes mypulse {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.semiBgBlack {
    --tw-bg-opacity: 0.4;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.dark\:semiBgBlack:where(.dark, .dark *) {
    --tw-bg-opacity: 0.3;
    background-color: rgb(100 100 100 / var(--tw-bg-opacity)) !important;
}

.semiBgBlack2 {
    --tw-bg-opacity: 0.1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.dark\:semiBgWhite2:where(.dark, .dark *) {
    --tw-bg-opacity: 0.2;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important;
}


.duration-900 {
    transition: 900ms ease;
}

.duration-1100 {
    transition: 1100ms ease;
}

.duration-1300 {
    transition: 1300ms ease;
}


#loading {
    animation: loading 4.5s;
    opacity: 0;
    z-index: -999;
}

.loadingLogo {
    background-color: rgba(37, 100, 235, 0);
    opacity: 0;
    animation: loadingLogo 3.5s;
}

.appearLogo {
    background-image: linear-gradient(to top, #ffffff, #00000000);
    animation: appearLogo 4s;
}

.appearLogo2 {
    background-image: linear-gradient(to bottom, #ffffff, #00000000);
    animation: appearLogo2 4s;
}

@keyframes loading {
    0% {
        opacity: 1;
        background-color: #fff;
        z-index: 999;
        backdrop-filter: blur(20px);
    }

    /* 50% {
        background-color: #ffffff70;
        z-index: 999;
        backdrop-filter: blur(20px);
    } */

    70% {
        opacity: 1;
        background-color: #fff;
        z-index: 999;
        backdrop-filter: blur(10px);
    }

    99% {
        opacity: 1;
        background-color: #ffffff00;
        z-index: 999;
        backdrop-filter: blur(0px);
    }

    100% {
        background-color: #ffffff00;
        z-index: -999;
        opacity: 0;
    }
}

@keyframes loadingLogo {
    0% {
        /* background-image: linear-gradient(to right, #fff, rgb(37 99 235)); */
        background-color: #fff;
        opacity: 1;
    }

    20% {
        /* background-image: linear-gradient(to right, #fff, rgb(37 99 235)); */
        background-color: #fff;
        opacity: 1;
    }

    60% {
        /* background-image: linear-gradient(to right, rgb(37 99 235), rgb(37 99 235)); */
        background-color: rgb(37 99 235);
        opacity: 1;
    }

    100% {
        background-color: rgba(37, 100, 235, 0);
        opacity: 0;
    }
}

@keyframes appearLogo2 {

    0%,
    40% {
        top: -200px;
        left: -200px;
    }

    100% {
        top: -20px;
        left: -20px;
    }
}

@keyframes appearLogo {

    0%,
    20% {
        top: -80px;
        left: -80px;
    }

    50%,
    100% {
        top: 200px;
        left: 200px;
    }
}