@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    padding: 2px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(37, 100, 235, 0.8);
    /* Adjust as needed */
    border-radius: 8px;
    border-top: 2px;
}

.dark::-webkit-scrollbar-thumb {
    background-color: rgba(63, 81, 215, 0.3);
    /* Adjust as needed */
    border-radius: 6px;
}

#alert {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-pulse {
    animation: mypulse 6s infinite;
}

@keyframes mypulse {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.semiBgBlack {
    --tw-bg-opacity: 0.4;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.dark\:semiBgBlack:where(.dark, .dark *) {
    --tw-bg-opacity: 0.3;
    background-color: rgb(100 100 100 / var(--tw-bg-opacity)) !important;
}

.semiBgBlack2 {
    --tw-bg-opacity: 0.1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.dark\:semiBgWhite2:where(.dark, .dark *) {
    --tw-bg-opacity: 0.2;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important;
}